
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
width: 100vw;
height: 100vh;
background-color: rgb(212, 216, 212);
  color: rgb(2, 2, 2);

}
main{


}

h1{

font-size: 4rem;

}
.Linhas{

font-size: 2.5rem;


}